{% extends 'shop/base.html' %}

{% block title%}About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">TheGeekyStore</h1>
      <p>TheGeekyStore Pvt Ltd. is an Indian electronic commerce company under <b>GeekyMonk07</b> based in Bengaluru, India. Founded by Sachin Bansal and Binny Bansal in 2007, the company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with Amazon' s Indian subsidiary, and the domestic rival Snapdeal. As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry. Flipkart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. Flipkart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Easy Returns</h2>
        <p>Return the unused portion of the product in its packaging to us within 30 days for a refund. 
              If an unused product is returned between 31-60 days, you can receive a gift card for the purchase price of the product.

        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Our Vision</h2>
        <p>We offer strategic consulting services, commerce opportunities, data insights, and marketing programs that empower brands and retail partners to engage every curly consumer.</p>
        
      </div>
      <div class="col-md-4">
        <h2>Checkout Our Blog</h2>
        <p>TheGeekyBlog is our personal Blog rum by <b>Anmol Gangwar</b> where we post about latest technologies as well as provide free education on Coding! We have a lot to cover in different fields.</p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}


